<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Passowrd Generator</h1>

      <div class="field">
        <label> Enter Length</label>
        <input class="input" (input)="onChangeLength($event.target.value)" />

      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <Input type="checkbox" (change)="onChangeUseLetters()" />

            Use Letters</label>
        </div>
      </div>
      <div class="field">
        <div class="contol">
          <label class="checkbox">
            <Input type="checkbox" (change)="onChangeNumbers()" />

            Use Numbers</label>
        </div>
      </div>
      <div class="field">
        <div class="contol">
          <label class="checkbox">
            <Input type="checkbox" (change)="onChangeSymbols()" />

            Use Symbols</label>
        </div>
      </div>
      <button (click)="onButtonClick()" class="button is-link is-fullwidth"
        [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))">
        Generate</button>


      <div class="box" *ngIf="password">
        <label>Your Password</label>
        <input [value]="getPassword()" class="input" />

      </div>
    </div>
  </div>
</div>
